body {
    height: 80px;
    width: 240px;
    outline: none;
}

.Buttons {
    grid-column: 1/2;
}

.Button {
    box-shadow: inset 0 1px 3px 0 #91b8b3;
    background: #5a5a5b linear-gradient(to bottom, #5a5a5b 5%, #6b6b6b 100%);
    border-radius: 5px;
    border: 1px solid #566963;
    cursor: pointer;
    color: #56d926;
    font-family: Arial, serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #2b665e;
    padding: 10px 20px;


}

.Button:hover {
    background: #6c7c7c linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
}

.Button:active {
    position: relative;
    top: 1px;
}

.currentQueue {
    grid-column: 2/3;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: column;

}

.testing {
    background-color: aqua;
}